.main {
  width: 90%;
  height: 50px;
  margin: auto;
  display: flex;
  margin-bottom: 10px;
}
.main:hover {
  background-color: rgb(243, 243, 243);
  cursor: pointer;
}
.img {
  height: 100%;
  width: 30%;
}
.img > img {
  height: 90%;
}
.p {
  margin-top: 5%;
}
